*{
    margin:0;
    padding: 0;
}

.logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color:black ;
    color: white;
    text-decoration: none;
}

.logo , h1{
    display: flex;
}
.header-right{
    text-decoration: none;
}

.contents{
    background-color: rgb(16, 93, 161);
    height: 700px;   
    padding-top: 10px;
    
}

footer{
    background-color: black;
    height:100px;
    padding-top: 100px;
    color: white;
    text-align: center;

}