@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin:0px;
    padding:0px;
    
}

html {
    scroll-behavior: smooth;
  }

#preloader{
    background:whitesmoke url(giphy.gif) no-repeat center ;
    height: 100vh;
    width:100%;
    position: fixed;
    z-index: 100;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  

    

}


.nav_links{
    background-color: (238,238,238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    
}

.nav_links ul li a{
    text-decoration: none;
    color: black;
    font-family:'Montserrat', sans-serif;
    

}

.logo a img{
    width: 150px;
    cursor:pointer;
}

.nav-links-two {
    background-color:  rgb(193, 194, 194); 
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-family:'Montserrat', sans-serif;
    
}


.nav-links-two a{
    text-decoration: none;
    color: black;
    
}

.nav-links-two ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;

    
}


.main {
    
    font-family:'Montserrat', sans-serif;
    /*background-color:#666666;*/
    
    text-align: center;
    font-size: 50px;
    
}


.main h1 p{
    display: flex;
    
    
    
}

.brands .images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    padding: 2px;
    height:120px;
}


.brands .images :hover{
   
    transform: scale(1.1);
    transition: transform .2s;  
    cursor: pointer;
    
}

.brands .images .img1{
    width:150px;
    
   
}

.img2{
    width:80px;
}

.img3{ 
    width:120px;
}

.img4{
    width: 140px;
   
}

.img5{
    width:500px;
    display: block;
    padding: 20px;
    
}

.img6{
    width:140px;
    display: flex;
}

.support p{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 36px;
    background-color:#000000;
    color: white;
}

#button{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    color:white;
    padding: 10px 10px;
}

#buttonn{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    color:white;
    padding: 10px 10px;
  
}

.content{
    color: black;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    position:relative;
    
}

.content p{
    display: inline-block;
}
.img{
    width: 444px;
    
    margin: 20px;
    padding: 20px;
}

footer{
    border:1px solid black;
    background: #000000;
    color: white;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    align-items: center;
   
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 40px;

    
    
    

}


.footer-imgs ul :hover{ 
 
    transform: scale(1.4);
    transition: transform .2s;  
    
}



.footer-imgs{
    
    align-items: center;
    padding: 5px;
   
    
    
    
}

.footer-imgs img{
    padding: 4px;
}

.footer-imgs .fb{
    width:25px;
}

.footer-imgs .insta
{
    width: 25px;
    
}

.footer-imgs .xlogo{
    width: 25px;
}

.copyright{
    margin-top: 5px;
    padding: 10px;
}


    
   


.footer-imgs ul li{ /*Remoevs styles for the footer*/
    list-style: none;
    display: inline-block;
    
}

#slider{
   display: flex;
   position: relative;
   width: 500px;
   height: 265px;
   margin: 10px;
   padding: 5px;
   
   box-shadow: 0 0 30px rgba(0,0,0,0.3);


}


#slider ul{

    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;

}

#slider ul li{
    position: relative;
    height: 100%;
    float:right;
}

#slider ul li img{
    width: 500px;
    height: 265px;
}

#slider #prev, #slider #next{
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    justify-content:space-around;
    top:50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;

}

#slider #prev {
    left: 10px;
  }
  #slider #next {
    right:-1350px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }

#slideWrap{
    display: flex;
}